# Transactions service runtime configuration
LOG_LEVEL=debug
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_TLS_DISABLED=true
RUN_MIGRATIONS=true
MIGRATION_PATH=db/migrations
LISTEN_PORT=50051

# PawaPay V2 integration
PAWAPAY_API_URL=
PAWAPAY_API_KEY=